<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722886712943-8g0kdi9bud5ovo8ublfqt3gqkf17rcrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722886712943-8g0kdi9bud5ovo8ublfqt3gqkf17rcrp</string>
	<key>API_KEY</key>
	<string>AIzaSyDPEhFLmaaumAk1i31Hqks_CyXM8bV3rr0</string>
	<key>GCM_SENDER_ID</key>
	<string>722886712943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SydneyWu.Sydney-Firebase-Midterm</string>
	<key>PROJECT_ID</key>
	<string>sydney-firebase-midterm</string>
	<key>STORAGE_BUCKET</key>
	<string>sydney-firebase-midterm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722886712943:ios:cc5d545d93ae71d596379a</string>
	<key>DATABASE_URL</key>
	<string>https://sydney-firebase-midterm.firebaseio.com</string>
</dict>
</plist>